/* Layout */
.page-control {
    display: flex;
    align-items: center;
    overflow: clip;
}

.page-control__button-box {
    position: relative;
    transition-property: width;
    transition-duration: 500ms;
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    z-index: 1;
}

.page-control__button-box[data-closed] {
    width: 0;
}

.page-control__button-box--left>* {
    position: absolute;
    right: 0;
}

.page-control__button-box--right>* {
    position: absolute;
    left: 0;
}

.page-control__content {
    display: flex;
    flex-grow: 1;
    width: calc(100% - 32px);
    transition-property: transform;
    transition-duration: 500ms;
    transform: none;
}

.page-control__page {
    width: 100%;
    flex-shrink: 0;
    transition-property: opacity;
    transition-duration: 500ms;
    opacity: 1;
}

.page-control__page--hidden {
    opacity: 0;
}