.custom-dialog {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.custom-dialog__backdrop {
    position: absolute;
    inset: 0;
    background-color: var(--theme-bg);
    opacity: 70%;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.custom-dialog__backdrop[data-closed] {
    opacity: 0%;
}

.custom-dialog__container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-dialog__title {
    margin-bottom: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-dialog__content {
    padding: 20px;
    background-color: var(--theme-bg);
    border: 2px solid var(--theme-dialog-border);
    border-radius: 6px;
    color: var(--theme-fg);
    opacity: 100%;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.custom-dialog__content[data-closed] {
    opacity: 0%;
    transform: scale(0.9);
}

.custom-dialog__button-group {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: baseline;
}

.custom-dialog__button {
    min-width: 90px;
    text-transform: uppercase;
}
