.sd1-op-editor {
    min-width: 180px;
    margin-left: 30px;
}
.sd1-op-editor__waves {
    height: 105px;
    scrollbar-width: none;
}
.sd1-op-editor__waves::-webkit-scrollbar {
    display: none;
}
