.keyboard-editor {
    position: relative;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: stretch;
    align-content: flex-start;
}

.keyboard-editor__keyboard {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;
    margin-right: 30px;
    position: relative;
    width: 85px;
}

.keyboard-editor__editor {
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 30px;
    max-width: 1400px;
}